<footer class="footer text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row mt-4">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">À propos du zoo</h5>
                <p>Bienvenue au Zoo Arcadia, un sanctuaire pour la faune</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Nos contacts</h5>
                <ul class="list-unstyled">
                    <li>12 Rue des Innovateurs, 35000 Rennes, France</li>
                    <li>contact@zooarcadia.fr</li>
                    <li>0699887766</li>
                </ul>
                <div class="mt-4 footer-social">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Heures d'ouverture</h5>
                <table class="table text-center text-white footer-hours">
                    <tbody>
                        <tr><td>Lun - Ven :</td><td>9h - 17h</td></tr>
                        <tr><td>Sam - Dim :</td><td>10h - 18h</td></tr>
                        <tr><td>Jours fériés :</td><td>10h - 16h</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-secondary">
        © 2024 Copyright : <a class="text-white" href="/home">ZooArcadia.com</a>
    </div>
</footer>


