<footer class="footer text-white text-center">
    <div class="container p-4">
        <div class="row mt-4">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Infos pratiques</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i>Accès en transports en commun</li>
                    <li><i class="fas fa-parking me-2"></i>Parking gratuit</li>
                    <li><i class="fas fa-info-circle me-2"></i>Point d'information à l'entrée</li>
                    <li><i class="fas fa-paw me-2"></i>Animaux non admis</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Nos contacts</h5>
                <ul class="list-unstyled">
                    <li>12 Rue des Innovateurs, 35000 Rennes, France</li>
                    <li>contact@zooarcadia.fr</li>
                    <li>0699887766</li>
                </ul>
                <div class="mt-4 footer-social">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4">Nos engagements</h5>
                <p>Au Zoo Arcadia, nous nous engageons à protéger la biodiversité, à sensibiliser nos visiteurs à la conservation de la faune, et à offrir un cadre éthique pour nos animaux.</p>
                <ul class="list-unstyled">
                    <li><i class="fas fa-leaf me-2"></i>Respect de l'environnement</li>
                    <li><i class="fas fa-heart me-2"></i>Bien-être animal</li>
                    <li><i class="fas fa-globe me-2"></i>Conservation des espèces</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-secondary">
        © 2024 Copyright : <a class="text-white" href="/home">ZooArcadia.com</a>
    </div>
</footer>



