<div class="hero-scene" style="background-image: url('{{ asset("build/images/hero.webp") }}');">
    <!-- Overlay -->
    <div class="hero-scene-overlay"></div>
    
    <!-- Contenu du hero -->
    <div class="hero-scene-content d-flex flex-column justify-content-center align-items-center">
        <p class="fs-4">{{ intro_text | default('Plongez dans un monde sauvage et captivant') }}</p>
        <h1 class="display-3 fw-bold">{{ title | default('Une aventure animalière inoubliable') }}</h1>
    </div>
</div>




