<div class="hero-scene text-center text-dark">
    <div class="hero-scene-content">   
        <p>{{ intro_text | default('Partez à la découverte du monde animal au') }}</p>

        <h1>{{ title | default('ZOO ARCADIA') }}</h1>

        {% if button_text is defined and button_link is defined %}
            <a href="{{ button_link }}" class="btn btn-primary">{{ button_text }}</a>
        {% endif %}
    </div>
</div>
