    <!--HEADER START-->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img alt="Logo" class="navbar-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% set nav_items = [
                            {'name': 'Accueil', 'url': '/'},
                            {'name': 'Services', 'url': '/service'},
                            {'name': 'Habitats', 'url': '#'},
                            {'name': 'Réservation', 'url': '#'},
                            {'name': 'Avis', 'url': '#'},
                            {'name': 'Connexion/Deconnexion', 'url': '#'}
                        ] %}    
                        {% for item in nav_items %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <!--NAVBAR END-->
    </header>
    <!--HEADER END-->
