{% extends 'base.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
    <h1>Créer un nouvel Animal</h1>

    {{ include('dashboard/animal/_form.html.twig') }}

    <a href="{{ path('dashboard_animal_index') }}">Retour à la liste</a>
{% endblock %}
