{% extends 'base.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center text-primary fw-bold">Créer un nouvel Animal</h1>

    {{ include('dashboard/animal/_form.html.twig') }}

    <a href="{{ path('dashboard_animal_index') }}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Retour à la liste
    </a>
{% endblock %}
