{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center text-primary fw-bold">Créer un nouvel Utilisateur</h1>

    {{ include('dash_utilisateur/_form.html.twig') }}

    <div class="mt-4 d-flex justify-content-between">
        <a href="{{ path('app_dash_utilisateur_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>
    </div>
{% endblock %}
