{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Utilisateur</h1>

    {{ include('dash_utilisateur/_form.html.twig') }}

    <a href="{{ path('app_dash_utilisateur_index') }}">Retour/a>
{% endblock %}
