{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Env/Workspace/Studi/zooArcadia/src/Controller/ServiceController.php</code></li>
        <li>Your template at <code>C:/Env/Workspace/Studi/zooArcadia/templates/services/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
