{% extends 'base.html.twig' %}

{% block title %}Nouveau Habitat{% endblock %}

{% block body %}
    <h1>Créer un nouvel Habitat</h1>

    {{ include('dashboard/habitat/_form.html.twig') }}

    <a href="{{ path('dashboard_habitat_index') }}">Retour à la liste</a>
{% endblock %}
