{% extends 'base.html.twig' %}

{% block title %}Modifier le rapport{% endblock %}

{% block body %}
    <h1>Modifier le rapport</h1>

    {{ include('dashboard/rapport/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('dashboard_rapport_index') }}">Retour à la liste</a>

    {{ include('dashboard/rapport/_delete_form.html.twig') }}
{% endblock %}
