{% extends 'base.html.twig' %}

{% block title %}Nouveau Rapport{% endblock %}

{% block body %}
    <h1>Créer un nouveau Rapport</h1>

    {{ include('/dashboard/rapport/_form.html.twig') }}

    <a href="{{ path('dashboard_rapport_index') }}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Retour à la liste
    </a>
{% endblock %}
