{% extends 'base.html.twig' %}

{% block title %}Nouveau Rapport{% endblock %}

{% block body %}
    <h1>Créer un nouveau Rapport</h1>

    {{ include('/dashboard/rapport/_form.html.twig') }}

    <a href="{{ path('dashboard_rapport_index') }}">retour à la liste</a>
{% endblock %}
