<form method="post" action="{{ path('dashboard_habitat_delete', {'id': habitat.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'habitat {{ habitat.nom }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitat.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>

