{% extends 'base.html.twig' %}

{% block title %}Modifier Alimentation{% endblock %}

{% block body %}
    <h1>Modifier Alimentation</h1>

    {{ include('dashboard/alimentation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('dashboard_alimentation_index') }}">Voir la liste générale d'alimentation</a>

    {{ include('dashboard/alimentation/_delete_form.html.twig') }}
{% endblock %}
