@use '../base/variables' as vars; // Import des variables avec namespace

// Styles spécifiques pour la navbar
.navbar {
    background-color: vars.$tertiary;
    --bs-navbar-padding-x: 5px; // Définition de la variable CSS native

    .nav-link,
    .navbar-brand {
        color: vars.$dark; // Texte de la navbar en couleur dark

        &:hover,
        &:focus {
            color: vars.$tertiary; // Couleur du texte au survol
        }
    }

    .navbar-nav .nav-item {
        margin-left: auto;
    }

    // Style pour le menu burger
    .navbar-toggler {
        border-color: vars.$dark; // Couleur de la bordure du bouton burger

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}

.navbar-logo {
    height: 70px; 
    width: 70px; 
    border-radius: 50%; // Rend l'image circulaire
    object-fit: cover; // Ajuste l'image à son conteneur
}

