.admin-dashboard-header {
    font-size: 2.5rem;
    font-weight: bold;
    color: vars.$primary;
    margin-bottom: 2rem;
}

.admin-list-group {
    .list-group-item {
        border: 1px solid vars.$secondary;
        border-left-width: 6px;
        font-size: 1.3rem;
        padding: 1.5rem;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        color: vars.$black;

        &:hover {
            background-color: vars.$tertiary;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            color: vars.$dark;
        }

        &.admin-user-list {
            border-left-color: vars.$tertiary;

            &:hover {
                border-left-color: color.adjust(vars.$tertiary, $lightness: -10%);
            }
        }

        &.admin-animal-list {
            border-left-color: vars.$primary;

            &:hover {
                border-left-color: color.adjust(vars.$primary, $lightness: -10%);
            }
        }

        &.admin-report-list {
            border-left-color: vars.$secondary;

            &:hover {
                border-left-color: color.adjust(vars.$secondary, $lightness: -10%);
            }
        }

        &.admin-food-list {
            border-left-color: color.adjust(vars.$primary, $lightness: 10%);

            &:hover {
                border-left-color: vars.$secondary;
            }
        }

        &.admin-habitat-list {
            border-left-color: vars.$dark;

            &:hover {
                border-left-color: color.adjust(vars.$dark, $lightness: 10%);
            }
        }

        &.admin-image-list {
            border-left-color: vars.$tertiary;

            &:hover {
                border-left-color: color.adjust(vars.$tertiary, $lightness: -10%);
            }
        }

        span {
            font-size: 1.3rem;
        }

        i {
            font-size: 1.7rem;
            color: vars.$secondary;
        }
    }
}
