#services {
    padding: 3rem 0;
  
    .service {
      margin-bottom: 3rem;
  
      h3 {
        background-color: #3a2a10; // Couleur personnalisée
        color: #ffffff;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 50%;
        margin: 0 auto 2rem;
        text-align: center;
      }
  
      .row {
        display: flex;
        align-items: stretch;
      }
  
      .custom-size {
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }
  
      .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      p {
        font-size: 1.1rem;
        line-height: 1.6;
        text-align: justify;
      }
    }
  }
  
  