<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Bloc pour inclure les fichiers CSS générés par Webpack Encore #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <main>
                {% block content %}{% endblock %}
            </main>
        {% endblock %}
        
        {# Utilisation de Webpack Encore pour charger les assets JS #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
